body {
  margin: 2.5% 25% 0% 25%;
  line-height: 1.43;
  font-size: 18px;
  color: darkslategray;
}

code {
  background-color: lightgray;
}

.allTagsFlexParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tagListFlex {
  display: flex;
  flex-wrap: wrap;
}

.tagButton {
  font-family: sans;
  text-decoration: none;
  padding: 5px;
  margin: 1.25px;
  border-radius: 10px;
  border: 5px solid;
  white-space: nowrap;
}

.tagButton--title {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.navbar__icon {
  color: blue;
  margin-bottom: 10px;
}

.note__edit {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: -1;
}

/* apply styling to 'active' navbar tab */
[class~="navbar--index"]          [class~="fa-clock-o"],
[class~="navbar--index_allTags"]  [class~="fa-tags"],
[class~="navbar--index_lists"]    [class~="fa-th-list"] {
  color: gray;
  border-bottom: 5px solid;
}
