<!-- List of tags specific to a given note. -->

{% if note.tags %}
  <div class="tagListFlex">
  {% for tag in note.tags %}
    <a class="tagButton" href="{{noteasyFilepath}}/build/tags/{{tag.slug}}/index.html">
      <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
    </a>
  {% endfor %}
  </div>
{% elif tags %}  
  <div class="tagListFlex"> 
  {% for tag in tags %}
    <a class="tagButton" href="{{noteasyFilepath}}/build/tags/{{tag.slug}}/index.html">
      <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
    </a>
  {% endfor %}      
  </div>
{% else %}
<!-- Nothing, not even an empty div! (Ensures margins collapse) -->
{% endif %}
