<!-- Horizontal navbar icons/links in top-left corner. -->

  <a href="{{noteasyFilepath}}/build/index.html">
    <i class="fa fa-clock-o fa-5x navbar__icon"  aria-hidden="true"><!-- clock icon --></i>
  </a>
  <a href="{{noteasyFilepath}}/build/index_allTags.html">
    <i class="fa fa-tags fa-4x navbar__icon"     aria-hidden="true"><!-- tags icon --></i>
  </a>
  <a href="{{noteasyFilepath}}/build/index_lists.html">
    <i class="fa fa-th-list fa-4x navbar__icon"  aria-hidden="true"><!-- lists icon --></i>
  </a> 
