<!DOCTYPE html>
<!-- Base layout. Inherited by all other layouts. -->
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport"     content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{noteasyFilepath}}/assets/favicon.png">
    <!-- Would be good to just include the icons I use, not the whole of Fork-awesome. Look into Fontello again sometime. -->
    <link rel="stylesheet"    href="{{noteasyFilepath}}/assets/Fork-Awesome-1.1.7/css/fork-awesome.min.css">
    <link rel="stylesheet"    href="{{noteasyFilepath}}/assets/main.css">     
    <link rel="stylesheet"    href="{{noteasyFilepath}}/assets/print.css" media="print">
  </head>
  <body>
    {% block main %}
    {% endblock %}
  </body>
</html>
