<!-- All tags index. Display all known tags in a big bubble. -->

{% extends "base.njk" %}

{% block main %}

  <div class="navbar navbar--index_allTags">
    {% include "_navbarContents.njk" %}     
  </div> 
  
  <div class="allTagsFlexParent">
    {% for x, tag in globalTags %}
      <a class="tagButton" href="{{noteasyFilepath}}/build/tags/{{x | lower}}/index.html">
        <i class="fa fa-tag" aria-hidden="true"></i> {{x}}
      </a>
    {% endfor %}
  </div>
  
{% endblock %}
