<!-- Lists index. Lists notes with `collection: lists`. -->

{% extends "base.njk" %}

{% block main %}

  <div class="navbar navbar--index_lists">
    {% include "_navbarContents.njk" %}    
  </div>  
  
  {% for list in lists %}
    <h2>
    {% if list.title %} 
      <a href="{{noteasyFilepath}}/build/{{list.paths.href}}">{{list.title}}</a>
      {% else %} 
      <a href="{{noteasyFilepath}}/build/{{list.paths.href}}">"{{list.path}}"</a> (untitled)
    {% endif %}
      <a href="{{noteasyFilepath}}/source/{{list.path}}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>           
    </h2>
    {% include "_listOfNoteTags.njk" %}
    <p>{{list.date}}</p>
    <hr />        
  {% endfor %}

{% endblock %}  
