<!-- Main index. Lists all notes in reverse chrono. order. -->

{% extends "base.njk" %}

{% block main %}

  <div class="navbar navbar--index">
    {% include "_navbarContents.njk" %}
  </div>  
  
  {% for note in notes %}
    <h2>
    {% if note.title %} 
      <a href="{{noteasyFilepath}}/build/{{note.paths.href}}">{{note.title}}</a>
      {% else %}      
      <a href="{{noteasyFilepath}}/build/{{note.paths.href}}">"{{note.path}}"</a> (untitled)
    {% endif %}
      <a href="{{noteasyFilepath}}/source/{{note.path}}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>
    </h2>
    {% include "_listOfNoteTags.njk" %}
    <p>{{note.date}}</p>
    <hr />        
  {% endfor %}

{% endblock %}  
