<!-- Index for given tag. One generated for each known tag, -->

{% extends "base.njk" %}

{% block main %}

  <div class="navbar">
    {% include "_navbarContents.njk" %}
  </div>  
  
  <span class="tagButton tagButton--title"><i class="fa fa-tag" aria-hidden="true"></i>{{tag}}</span>
  <hr />
  
  {% for note in pagination.files %}
    <h2>  
    {% if note.title %} 
      <a href="{{noteasyFilepath}}/build/{{note.paths.href}}">{{note.title}}</a>
      {% else %}
      <a href="{{noteasyFilepath}}/build/{{note.paths.href}}">"{{note.path}}"</a> (untitled) 
    {% endif %}
      <a href="{{noteasyFilepath}}/source/{{note.path}}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>         
    </h2>           
    {% include "_listOfNoteTags.njk" %}
    <p>{{note.date}}</p>
  <hr />  
  {% endfor %}

{% endblock %}
