<!-- Default layout for notes. -->

{% extends "base.njk" %}

{% block main %}
  <div class="navbar dontPrint">
    {% include "_navbarContents.njk" %}
  </div> 
  
  <a href="{{noteasyFilepath}}/source/{{path}}" class="dontPrint">
    <i class="fa fa-pencil-square fa-5x note__edit" aria-hidden="true"></i>
  </a> 

  <div class="dontPrint">
    {% if title %} 
      <h1>{{title}}</h1>
      {% else %} 
      <h1>"{{path}}" (untitled)</h1>
    {% endif %}
    {% include "_listOfNoteTags.njk" %}
    <p>{{date}}</p>
    <hr />
  </div>
  
  {{ contents | safe }}

{% endblock %}
